<header>
      <nav>
    <element class="language-switch">
      <button onclick="window.changeLanguage('de')">DE</button> 
      <button onclick="window.changeLanguage('en')">EN</button>
    </element>
    <div class="theme-switch">
      <button onclick="window.changeTheme('dark')" ><img class="dark-icon" src="/public/assets/svg/light-mode.svg" alt="Darkmode Button"></button>
      <button onclick="window.changeTheme('light')"><img class="light-icon" src="/public/assets/svg/dark-mode.svg" alt="Lightmode Button" ></button>
    </div>
  </nav>
</header>